RPi.GPIO==0.5.3a
argparse==1.2.1
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
easyteach==1.0
httplib2==0.7.6
numpy==1.6.2
oauth2==1.5.211
piface==1.0
pygame==1.9.1release
python-espeak==0.4
python-twitter==0.8.2
simplejson==2.6.2
virtualenv==1.9.1
wsgiref==0.1.2
